// color scheme: complimentary
$primary: #0027FF;
$highlight: #FFD800;
$display: #DDE2FF;
$pads: #dcdcdc;
$pressed: #b5b5b5;
$track: black;
$thumb: black;
$hover: white;

.hover:hover {
    background-color: $hover;
}

// body
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background-color: $highlight;
}

// drum machine

#drum-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto auto;
    width: 600px;
    height: 400px;
    font-weight: bold;
    background-color: $primary;
    border-radius: 20px;
    margin-top: 75px;
}

// drum pad wrapper

#drum-pad-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

// drum pads

.drum-pad {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pads;
    border-radius: 20px;
    box-shadow: 0 0 2px 0;
    cursor: pointer;
}

.pressed {
    background-color: $pressed;
}

.pad {
    font-size: x-large
}

// panel
#panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

// controls
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: $display;
    border-radius: 5px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color: $pressed;
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
}

#volume {
    height: 30px;
    width: 150px;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

#volume::-webkit-slider-runnable-track {
    background: $track;
    height: 4px;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $thumb;
    height: 20px;
    width: 10px;
    margin-top: -8px;
}

#kit-select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color: $pads;
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
    cursor: pointer;
}

// label
#label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    font-size: x-small;
    font-style: italic;
    text-align: left;
    line-height: 1;
}

#by {
    text-align: right;
}

// acessibility 
@media only screen and (max-width: 600px) {
    #drum-machine {
        flex-direction: column;
        height: 550px;
        width: 400px
    }

    #panel {
        flex-direction: row;
    }

    #label {
        margin: auto
    }
}